doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .headerLeft left
      .headerCenter The stuff is häär
      .headerRight
        form
          input(type="text", name="search")
          input(type="submit", value="search")
    .container
      block container

      block content
      .footer
        block footer
